doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title #{title}
        link(rel='stylesheet',href='css/style.css')
    body
        h1 #{my_h1}
        p hello1
        a 123

